.menu-container{
    margin-top: 30px;
}

.menu{
    list-style: none;
    padding: 15px 8px ;
    color: #707070;
}

.menu:hover{
    background-color: #f1f1f193;
    cursor: pointer;
}

.menu-backgroud{
    background-color: #E4E4E4;
}