.father-container-backgroung{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.contenedor-matrices{
    display: flex;
    align-items: center;
}

.suma-container-father{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-crearMatriz{
    margin-left: 20px;
    background-color: #7C7C7C;
    width: 70px;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-crearMatriz:hover{
    transform: scale(1.03);
}
.container-datos-inputs{
    display: flex;
    color: #505050;
    font-size: 13px;
    margin-bottom: 80px;
}

.inputs-dato-tamaño{
    width: 40px;
    height: 25px;
    margin-left: 10px;
    border: none;
    background-color: #dbdbdb8e;
    border-radius: 4px;
    text-align: center;
}
.ingrese-datos-titulo{
    color: #505050;
    font-weight: 600;
    margin-bottom: 15px;
}
.container-all-inpits{
    width: auto;
}
.suma-containInpits{
    display: inline-block;
}
.suma-matrices-input{
    display: inline-block;
}
.inputs-matrices{
    background-color: #E7E6E7;
    width:45px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 0 5px 5px 0;
    text-align: center;
}

.icono-suma{
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.btn-resolver-matriz{
    background-color: #8C8C8C;
    margin: 20px 0 20px 0;
    border: none;
    width: 100px;
    height: 35px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}


.container-resultado-father{
    background-color:white;
    margin: 0 30px 30px 30px;
    border-radius: 10px;
    padding: 20px;
}
.containerssssss{
    display: flex;
    align-items: center;
}

.parentesis-resultado{
    height: auto;
    font-size:50px ;
    color: #696969da;
}

.resultado-contain{
    display: flex;
    color: #505050;
}