

.btn-crearMatriz{
    margin-left: 20px;
    background-color: #7C7C7C;
    width: 70px;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-crearMatriz:hover{
    transform: scale(1.03);
}

