<div class="container-sumaMatrices">
    <h5 class="titulo-sumaMatrices">Suma de Matrices</h5>
    <hr class="sumaMatrices-bar">

    <div class="comtainer-ingresar-datos-suma">
        <div class="container-Tamamatrices">
            <p class="Tamamatrices-titulo">Elija el tamalo de Matriz:</p>

            <input 
                class="input-tamañoMatrices" 
                type="number"
                [(ngModel)]="datoInp1">

            <input 
                class="input-tamañoMatrices" 
                type="number"
                [(ngModel)]="datoInp2">
        </div>

        <!--la matriz de para ingresar datos-->
        <div class="conatiner-datos-matriz">
            <h4>Ingrese sus datos</h4>
            <div class="container-matrices-father">
                <div>(

                    


                    )</div>
            </div>
        </div>
    </div>
</div>
